<h2>Details</h2>

<app-asset-details [asset]="asset" [componentState]="ComponentState.AssetDetailsView"></app-asset-details>

<h2>Purchase {{asset.name}} ({{asset.symbol}})</h2>

<!-- TODO might abstract this out into an asset purchase/sell component -->
<form [formGroup]="form">
  <!-- TODO would be nice to have purchase in USD or in Quantity -->
  Quantity: <input type="text" formControlName="quantity">
  <br>
  Total Price: {{formPrice | currency}}
  <br>
  <button *ngIf="form.valid" type="button" (click)="submitForm()">Submit</button>
</form>

<h2>Performance</h2>

<div style="display: block;">
  <!-- Uses: https://valor-software.com/ng2-charts/#LineChart -->
  <canvas baseChart width="400" height="400"
      [data]="lineChartData"
      [type]="lineChartType">
  </canvas>
</div>